<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand no-select" href="/">Gran DT</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <span class="nav-link no-select" href="/">Teams:
          {{{data.teamsLength}}}</span>
      </li>
    </ul>
    <form>
      <a class="btn btn-light mx-4" href="/app/new-team">Create a team</a>
    </form>
    <form action="/" method="POST">
      <button type="submit" class="btn btn-light">Reset teams</button>
    </form>
  </div>
</nav>